{% extends 'base.html' %}

{% block content %}
<!-- <div class=container-fluid> -->
    <div class="container">
  <div class=jumbotron>
    <h1>Top News//</h1>
  </div>


  
    <!-- <div class="col-md-6"> -->
      
        <div class="row">
          
        {% for headline in news %} 
        <h2>{{headline.title}}</h2>
        <img src="{{headline.urlToImage}}" alt="image" width="50%">
        <p>{{headline.description}}</p> 
        <a href="{{headline.url}}"><button class="button"><span>Read More</span></button></a> 
        {% endfor%}
    
        </div>
      </div>
    

  <style>
    .jumbotron{
      background-color: bisque;
    }
    .col-md-6{
      align-content: center;
    }
    .button {
      border-radius: 4px;
      background-color: green;
      border: none;
      color: white;
      text-align: center;
      font-size: 22px;
      padding: 12px;
      width: 200px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -0px;
      transition: 0.5s;
    }
    .button:hover span {
      padding-right: 25px;
    }
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
    </style>
  {% endblock %}